body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header {
    flex-grow: 3;
    width: 100%;
    text-align: center;
}

#breakout {
    border: 15px double #000;
    cursor: none;
}

#FPS {
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
