body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    font: 1em sans-serif;
    background-color: rgb(48, 48, 48);
    color: white;
}

header {
    flex-grow: 3;
    width: 100%;
    text-align: center;
}

#breakout {
    cursor:crosshair;
    background-color: rgb(37, 35, 35);
    border: 10px solid black;
}

#FPS {
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    float: left;
    position: absolute;
    left: 0;
}

#controls {
    max-width: 30%;
    padding: 2rem;
}
